#style-map-preview-image-container {
  position: absolute;
  top: 55px;
  left: 363px;

  width: 150px;
  height: 100px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2f3137;
  border: 3px solid #2f3137;
}

  #style-map-preview-image-container img {
    width: 100%;
    height: auto;
  }